@{
    ViewBag.Title = "";
}


<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-5">
        <div class="row gx-5 align-items-center justify-content-center">
            <div class="col-lg-8 col-xl-7 col-xxl-6">
                <div class="my-5 text-center text-xl-start">
                    <h1 class="display-5 fw-bolder text-white mb-2">Facturación Electrónica</h1>
                    <p class="lead fw-normal text-white-50 mb-4">Descargue sus CPE desde la pestaña de descargas!</p>
                    <p class="lead fw-normal text-white-50 mb-4">Facture ahora electrónicamente y automatice sus procesos de forma segura!</p>
                    <p class="lead fw-normal text-white-50 mb-4">Visita nuestro sitio Web y elija un plan a su medida !</p>
                    <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                        <a class="btn btn-primary btn-lg px-4 me-sm-3" href="https://nevadasuncloud.com">Ver Mas&raquo;</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center">
                <img class="img-fluid rounded-3 my-5" src="~/Content/Img/Logo.png" width="20%" height="20% alt="..." />
            </div>
        </div>
    </div>
</header>


